#vim
alias vim="nvim"

#git
alias g="git"
alias ga="git add"
alias gcam="git commit -am"
alias gd="git diff"
alias gl="git log"
alias gs="git status"

# Linux: alias ls to get colors
if [[ `uname` == "Linux" ]]; then
  alias ls="ls --color=auto"
fi
